@import './tabs.less';
@import './tree.less';
@import './form.less';
@import './input.less';
@import './radio.less';
@import './table.less';
@import './modal.less';
@import './button.less';
@import './select.less';
@import './switch.less';
@import './layout.less';
@import './popover.less';
@import './checkbox.less';
@import './dropdown.less';
@import './breadcrumb.less';
@import './pagination.less';
@import './descriptions.less';

body {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background: #e1e2e2;
    border-radius: 3px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
}
