<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhengcaiyun.idata.dqc.dao.MonitorTableDao">

    <resultMap type="cn.zhengcaiyun.idata.dqc.model.entity.MonitorTable" id="DqcMonitorTableMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="baselineId" column="baseline_id" jdbcType="INTEGER"/>
        <result property="tableName" column="table_name" jdbcType="VARCHAR"/>
        <result property="accessTime" column="access_time" jdbcType="VARCHAR"/>
        <result property="partitionExpr" column="partition_expr" jdbcType="VARCHAR"/>
        <result property="latestAlarmLevel" column="latest_alarm_level" jdbcType="INTEGER"/>
        <result property="del" column="del" jdbcType="INTEGER"/>
        <result property="creator" column="creator" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="editor" column="editor" jdbcType="VARCHAR"/>
        <result property="editTime" column="edit_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="getById" resultMap="DqcMonitorTableMap">
        select
          id, baseline_id, table_name, `partition_expr`, access_time,latest_alarm_level, del, creator, create_time, editor, edit_time
        from dqc_monitor_table
        where del=0 and id = #{id}
    </select>

    <select id="getByBaselineId" resultMap="DqcMonitorTableMap">
        select
          id, table_name, `partition_expr`
        from dqc_monitor_table
        where del=0 and baseline_id = #{baselineId}
    </select>

    <select id="getByTableName" resultMap="DqcMonitorTableMap">
        select
          id, baseline_id, table_name, `partition_expr`
        from dqc_monitor_table
        where del=0 and baseline_id=#{baselineId}
        <if test="tableName!=null and tableName!=''">
            and table_name = #{tableName}
        </if>
    </select>

    <!--查询指定行数据-->
    <select id="getByPage" resultMap="DqcMonitorTableMap" >
        select
          id, table_name, latest_alarm_level, access_time,  creator, create_time, editor, edit_time
        from dqc_monitor_table
        where del = 0
        <if test="query.baselineId != null">
            and baseline_id = #{query.baselineId}
        </if>
        <if test="query.tableName != null and query.tableName != ''">
            and table_name like concat('%',#{query.tableName},'%')
        </if>
        <if test="query.latestAlarmLevel != null">
            and latest_alarm_level = #{query.latestAlarmLevel}
        </if>
        order by edit_time desc
        limit #{query.startIndex}, #{query.pageSize}
    </select>
    <!--统计总行数-->
    <select id="count" resultType="java.lang.Integer" parameterType="cn.zhengcaiyun.idata.dqc.model.query.MonitorTableQuery">
        select count(1)
        from dqc_monitor_table
        where del = 0
        <if test="query.baselineId != null">
            and baseline_id = #{query.baselineId}
        </if>
        <if test="query.tableName != null and query.tableName != ''">
            and table_name like concat('%',#{query.tableName},'%')
        </if>
        <if test="query.latestAlarmLevel != null">
            and latest_alarm_level = #{query.latestAlarmLevel}
        </if>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="cn.zhengcaiyun.idata.dqc.model.entity.MonitorTable">
        insert into dqc_monitor_table
            (baseline_id, table_name, partition_expr, latest_alarm_level, access_time, del, creator, create_time, editor, edit_time)
        values
            (#{baselineId}, #{tableName}, #{partitionExpr}, #{latestAlarmLevel}, #{accessTime}, 0, #{creator}, now(), #{editor}, now())
    </insert>

    <insert id="batchInsert" keyProperty="id" useGeneratedKeys="true">
        insert into dqc_monitor_table(baseline_id, table_name, partition_expr, latest_alarm_level, rule_count,access_time, del, creator, create_time, editor, edit_time)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.baselineId}, #{entity.tableName}, #{entity.partitionExpr}, #{entity.latestAlarmLevel},#{entity.accessTime},0, #{entity.creator}, now(), #{entity.editor}, now())
        </foreach>
    </insert>

    <!--通过主键修改数据-->
    <update id="update" parameterType="cn.zhengcaiyun.idata.dqc.model.entity.MonitorTable">
        update dqc_monitor_table set
            <if test="partitionExpr != null and partitionExpr != ''">
                partition_expr = #{partitionExpr},
            </if>
            <if test="latestAlarmLevel != null">
                latest_alarm_level = #{latestAlarmLevel},
            </if>
            <if test="accessTime != null">
                access_time = #{accessTime},
            </if>
            <if test="del != null">
                del = #{del},
            </if>
            <if test="editor != null and editor != ''">
                editor = #{editor},
            </if>
            edit_time = now()
        where id = #{id}
    </update>

    <update id="updateFull" parameterType="cn.zhengcaiyun.idata.dqc.model.entity.MonitorTable">
        update dqc_monitor_table set partition_expr = #{partitionExpr},table_name = #{tableName},editor = #{editor},edit_time = now()
        where id = #{id}
    </update>

    <update id="updateAccessTime" parameterType="cn.zhengcaiyun.idata.dqc.model.entity.MonitorTable">
        update dqc_monitor_table
        <set>
            <if test="latestAlarmLevel != null">
                latest_alarm_level = #{latestAlarmLevel},
            </if>
            <if test="accessTime != null">
                access_time = #{accessTime},
            </if>
        </set>
        where table_name = #{tableName} and baseline_id=#{baselineId}
    </update>

    <update id="delByBaselineId">
        update dqc_monitor_table
        set del=1,editor = #{editor},edit_time = now()
        where baseline_id != -1 and baseline_id=#{baselineId}
    </update>

    <select id="getTableCountByBaselineId" resultType="cn.zhengcaiyun.idata.dqc.model.vo.MonitorBaselineVO">
        select baseline_id baselineId,count(*) tableCount
        from dqc_monitor_table
        where del=0 and baseline_id in
        <foreach collection="baselineIdList" separator="," item="item" open="(" close=")" >
            #{item}
        </foreach>
        group by baseline_id
    </select>
</mapper>

