<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhengcaiyun.idata.dqc.dao.TableDao">

    <resultMap id="tableVO" type="cn.zhengcaiyun.idata.dqc.model.vo.TableVO">
        <result column="table_name" property="tableName"/>
        <collection property="lableList"  ofType="cn.zhengcaiyun.idata.dqc.model.vo.LableVO">
            <result column="label_param_value" property="labelParamValue"/>
            <result column="label_code" property="labelCode"/>
        </collection>
    </resultMap>


    <select id="getTables" resultMap="tableVO">
        select distinct t.table_name ,l.label_param_value ,l.label_code
        from dev_table_info t
        left join dev_label l on t.id = l.table_id
        where l.label_code in('tblComment:LABEL','partitionedCol:LABEL','dbName:LABEL')
        <if test="tableName!=null and tableName!=''">
            and t.table_name like concat('%',#{tableName},'%')
        </if>
        limit #{limit}
    </select>

    <select id="getPartitionTable" resultType="cn.zhengcaiyun.idata.dqc.model.vo.TableVO">
        select distinct label_param_value partitioned
        from dev_label
        where label_code = 'partitionedCol:LABEL' and label_param_value='true'
          and table_id in (select t.id
                           from dev_table_info t
                           left join dev_label l on t.id = l.table_id
                           where t.table_name=#{tableName} and l.label_code ='dbName:LABEL' and l.label_param_value = #{database})
    </select>

    <select id="getColumns" resultType="cn.zhengcaiyun.idata.connector.jdbc.model.Column">
        select  column_name name
        from dev_label
        where label_code = 'columnType:LABEL'
          and table_id in (select t.id
                           from dev_table_info t
                                    left join dev_label l on t.id = l.table_id
                           where t.table_name=#{tableName} and l.label_code ='dbName:LABEL' and l.label_param_value = #{database})
    </select>

    <select id="getDwOwners" resultType="java.lang.String">
        select nickname from uac_user
        where id in(
        select  label_param_value owner
        from dev_label
        where label_code in('dwOwnerId:LABEL')
          and table_id in (select t.id
                           from dev_table_info t
                                    left join dev_label l on t.id = l.table_id
                           where t.table_name=#{tableName} and l.label_code ='dbName:LABEL' and l.label_param_value = #{database})
        )
    </select>

    <select id="getPwOwners" resultType="java.lang.String">
        select  label_param_value owner
        from dev_label
        where label_code in('pwOwnerId:LABEL')
          and table_id in (select t.id
                           from dev_table_info t
                                    left join dev_label l on t.id = l.table_id
                           where t.table_name=#{tableName} and l.label_code ='dbName:LABEL' and l.label_param_value = #{database})
    </select>


</mapper>

