<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhengcaiyun.idata.dqc.dao.UserDao">

    <resultMap type="cn.zhengcaiyun.idata.dqc.model.entity.User" id="UserMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="del" column="del" jdbcType="INTEGER"/>
        <result property="creator" column="creator" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="editor" column="editor" jdbcType="VARCHAR"/>
        <result property="editTime" column="edit_time" jdbcType="TIMESTAMP"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="sysAdmin" column="sys_admin" jdbcType="INTEGER"/>
        <result property="authType" column="auth_type" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="employeeId" column="employee_id" jdbcType="VARCHAR"/>
        <result property="department" column="department" jdbcType="VARCHAR"/>
        <result property="realName" column="real_name" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getList" resultMap="UserMap">
        select nickname
        from uac_user
        where del=0
        <if test="name!=null and name!=''">
            and  (nickname like concat('%',#{name},'%') or username like concat('%',#{name},'%') or real_name like concat('%',#{name},'%'))
        </if>
    </select>

    <select id="getMobilesByNickname"  resultMap="UserMap">
        select mobile,nickname,username
        from uac_user
        where del=0 and nickname in
        <foreach collection="nicknames" item="nickname" open="(" close=")" separator=",">
            #{nickname}
        </foreach>
    </select>

    <select id="getMobilesByUsername"  resultMap="UserMap">
        select mobile,nickname,username
        from uac_user
        where del=0 and username in
        <foreach collection="usernames" item="username" open="(" close=")" separator=",">
            #{username}
        </foreach>
    </select>

</mapper>

