<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhengcaiyun.idata.develop.dal.dao.job.DevJobInfoMyDao">

    <select id="selectJobInfoExecuteDetail" resultType="cn.zhengcaiyun.idata.develop.dto.job.JobInfoExecuteDetailDto">
        select t1.*,
               t2.environment,
               t2.sch_dag_id as schDagId,
               t2.sch_rerun_mode as schRerunMode,
               t2.sch_time_out as schTimeOut,
               t2.sch_dry_run as schDryRun,
               t2.exec_queue as execQueue,
               t2.exec_warn_level as execWarnLevel,
               t2.sch_time_out_strategy as schTimeOutStrategy,
               t2.sch_priority as schPriority,
               t2.exec_driver_mem as driverMemory,
               t2.exec_worker_mem as executorMemory,
               t2.running_state as runningState,
               t2.exec_engine as execEngine,
               0 as executeCore,
               t3.dest_table as targetTableName
        from
            (select * from dev_job_info where id = #{id}) as t1
            join (select * from dev_job_execute_config where environment = #{env}) t2
            on t1.id = t2.job_id
            left join (select * from dev_job_output where job_id = #{id}) t3
            on t1.id = t3.job_id
    </select>

</mapper>
